body * {
  box-sizing : border-box;
  flex-shrink: 0;
}

body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC-Light, Microsoft YaHei;
}

input {
  background-color: transparent;
  border          : 0;
}

button {
  margin          : 0;
  padding         : 0;
  border          : 1px solid transparent;
  outline         : none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}

.flex-col {
  display       : flex;
  flex-direction: column;
}

.flex-row {
  display       : flex;
  flex-direction: row;
}

.justify-start {
  display        : flex;
  justify-content: flex-start;
}

.justify-center {
  display        : flex;
  justify-content: center;
}

.justify-end {
  display        : flex;
  justify-content: flex-end;
}

.justify-evenly {
  display        : flex;
  justify-content: space-evenly;
}

.justify-around {
  display        : flex;
  justify-content: space-around;
}

.justify-between {
  display        : flex;
  justify-content: space-between;
}

.align-start {
  display    : flex;
  align-items: flex-start;
}

.align-center {
  display    : flex;
  align-items: center;
}

.align-end {
  display    : flex;
  align-items: flex-end;
}

.text-wrapper_btn:hover {
  background-color: #c37b21;
  border          : 1px solid #c37b21
}

.text-wrapper_btn:hover .text_btn {
  color: #fff
}

.text-wrapper_btn {
  -webkit-transition: background-color 0.6s;
  transition        : background-color 0.6s;
  background-color  : #fff;
  height            : 60px;
  border            : 1px solid #c37b21;
  width             : 200px;
  margin            : 50px 0 0 44.5%;
  cursor            : pointer
}

.text_btn {
  width         : 112px;
  height        : 33px;
  overflow-wrap : break-word;
  color         : #c37b21;
  font-size     : 24px;
  letter-spacing: .2571428418159485px;
  font-family   : PingFangSC-Medium;
  font-weight   : 500;
  text-align    : center;
  white-space   : nowrap;
  line-height   : 33px;
  margin        : 13px 0 0 44px
}

.popper__arrow {
  display: none !important;
}

.adress-sel .el-popper {
  margin-top   : 12px;
  top          : 88px !important;
  width        : 99px;
  text-align   : center;
  left         : -31px !important;
  border-radius: 0 !important;
  opacity      : 1;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}
.tc{
  text-align: center;
}
.wfc{
  width: fit-content !important;
}
.ml20{
  margin-left: 20px !important;
}
.hover_s:hover {
  box-shadow: 0 2px 12px 0 rgb(0 0 0) !important;
  cursor: pointer !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #c37b21;
  color: #FFF;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #c37b21;
}
.one_row{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.mb10{
  margin-bottom: 10px;
}
.mt10{
  margin-top: 10px;
}
.hoverbtn{
  transition: all 0.3s ease 0s;
}
.el-dropdown-menu .el-dropdown-menu__item{
  text-align: center;
}
.ql-blank{
  /* display: none !important; */
}
.el-image-viewer__btn{
  border-radius: 0;
}
/* .active div/deep/.el-icon--right{
  font-weight: 600;
} */